<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Prediction</title>
</head>
<body>
    <h1>Loan Prediction</h1>

    <form action="/predict" method="POST">
        <label for="Column Name">Column Name</label>
        <input type="text" name="Column Name" id="Column Name" required>
        <br>
        <!-- Add multiple columns -->
        <input type="submit" value="Predict">
    </form>
</body>
</html>